<div class="jumbotron">
  <h1 class="display-5"><%= bootstrap_icon "person-circle", width: 32, height: 32 %> <%= @friend.first_name %> <%= @friend.last_name %></h1>
  <button type="button" class="btn btn-info">
    <span class="badge"><%= bootstrap_icon "envelope-fill" %> <%= @friend.email %></span>
  </button>
  <button type="button" class="btn btn-info">
    <span class="badge"><%= bootstrap_icon "telephone-fill" %> <%= @friend.phone %></span>
  </button>
  <hr class="my-4">

  <%= link_to edit_friend_path(@friend), class:"btn btn-warning" do %>
    <%= bootstrap_icon "pencil-fill" %> Edit
  <% end %>
  <%= link_to friends_path, class:"btn btn-primary" do %>
    <%= bootstrap_icon "back" %> Back
  <% end %>
</div>
